table {
  width: 100%;

  .actions {
    width: 10%;
  }

  mat-icon {
    cursor: pointer;
  }
}

.tile {
  width: 30%;
  margin: 2em auto;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.filter {
  display: flex;
  justify-content: space-around;
}

.nothing-found {
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

mat-spinner {
  margin: 0 auto;
}
